body {
  font-family: sans-serif;

  .piece {
    height: 10px;
    width: 10px;
    position: fixed;
  }

  .snake {
    @extend .piece;
    background-color: green;
  }

  .apple {
    @extend .piece;
    background-color: red;
    border-radius: 50%;
  }

  .game {
    width: 100vw;
    height: 100vh;
  }
}
